* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {

    /* display: flex;
    justify-content: center; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* align-items: center;  */
}

#section1 {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    height: 100vh;

}

nav {

    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;

}

nav>ul {}


nav>ul>li {

    width: 150px;
    height: 60px;
    display: inline-block;

    background-color: antiquewhite;
}

#main {
    display: flex;
    justify-content: center;
    align-items: start;
    /* width: 1200px;
    height: 600px; */

    margin: 35px 0;
    background-color: bisque;

    overflow: hidden;

}

#mainleft {


    border-radius: 25px;
    overflow: hidden;
    margin-right: 25px;
    /* margin-right: 20px; */
}

#mainleft>ul>div {

    width: 360px;
    height: 168px;
    background-color: rgb(142, 142, 43);
}

#mainleft>ul>li {

    width: 360px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    background-color: aquamarine;
    transition: background-color 0.5s ease-in-out;

}

#mainright {
    width: 824px;
    height: 600px;
    display: inline;
    border-radius: 25px;
    overflow: hidden;
    background-color: chartreuse
}

#mainright>img {
    width: 824px;
    height: 600px;
    transition: transform 1s cubic-bezier(0.17, 0.67, 0.48, 1.36);
    display: block;
}

#mainleft>ul>li:hover {
    background-color: rgb(221, 236, 249)
}